@model IEnumerable<GestorEnergetico.ViewModel.CategoriaViewModel>

@{
    ViewData["Title"] = "Categorias";
}
<h1>Categorias Disponíveis</h1>

<div class="d-flex align-content-lg-start justify-content-between">
    <p>
        <a asp-action="Criar">Novo</a> |
        <a asp-controller="Home" asp-action="Index">Voltar</a>
    </p>
</div>

<table class="table text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaPaiId)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @if (item.CategoriaPaiId != null)
                    {
                        @Html.DisplayFor(modelItem => item.CategoriaPaiId)
                    }
                    else
                    {
                        <p>Sem categoria pai</p>
                    }
                </td>
                <td>
                    <a asp-action="Detalhe" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Deletar" asp-route-id="@item.Id">Deletar</a> |
                    <a asp-action="Editar" asp-route-id="@item.Id">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>