@model IEnumerable<GestorEnergetico.ViewModel.ParametroViewModel>

@{
    ViewData["Title"] = "Parametros";
}
<h1>Parametros Disponíveis</h1>

<div class="d-flex align-content-lg-start justify-content-between">
    <p>
        <a asp-action="Criar">Novo</a> |
        <a asp-controller="Home" asp-action="Index">Voltar</a>
    </p>
</div>

<table class="table text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorKwh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FaixaConsumoAlto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FaixaConsumoMedio)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorKwh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FaixaConsumoAlto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FaixaConsumoMedio)
            </td>
            <td>
                <a asp-action="Detalhe" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Deletar" asp-route-id="@item.Id">Deletar</a> |
                <a asp-action="Editar" asp-route-id="@item.Id">Editar</a>
            </td>
        </tr>
        }
    </tbody>
</table>